/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


// https://vuetifyjs.com/features/sass-variables/`
 @use 'vuetify/settings' with (
   $color-pack: true,
   $button-background:rgb(var(--v-theme-secondary)),
   $list-color:	rgba(var(--v-theme-secondary-darken-1), var(--v-low-emphasis-opacity))
);

.guilleBackground{
    background-color: primary;
}

html{
    overflow: auto;
}

body{
    scroll-behavior: smooth  !important;
    overflow: auto;
}